@model Patify.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<main>
    <div class="container my-4">
        <h2 class="my-3">Contact Us</h2>
        <div class="row g-2">
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="alert alert-warning">
                            Please fill out the form.
                        </div>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NameSurname" class="control-label"></label>
                                <input asp-for="NameSurname" class="form-control" />
                                <span asp-validation-for="NameSurname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subject" class="control-label"></label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message" class="control-label"></label>
                                <textarea asp-for="Message" class="form-control" rows="4"> </textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12046.372722325967!2d29.043541846016563!3d40.990388235308686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac790b17ba89d%3A0xd2d24ea0437a7ee2!2zS2FkxLFrw7Z5L8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1646827091657!5m2!1str!2str" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</main>

@*<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameSurname" class="control-label"></label>
                <input asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>   
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
