@model IEnumerable<Category>

<ul>
    @foreach(var item in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Category" asp-action="Details" asp-route-id="@item.CategoryId">
                        @item.CategoryName
                    </a>
                </li>
            }
</ul>